body {
  background-color: #FAFAFA;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

#connectionContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 30px auto 0;
  align-items: center;
}

#instagramText {
  text-align: center;
  margin-bottom: 35px;
  font-family: "Shadows Into Light", cursive;
}

#connexionLogoLink img {
  height: 40px;
}

.connexionFormContainer {
  width: 350px;
  display: flex;
  padding: 15px 0;
  flex-direction: column;
  align-items: center;
}
.connexionFormContainer:not(#downloadApp) {
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 10px;
}
.connexionFormContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.connexionFormContainer form input {
  margin-bottom: 6px;
}
.connexionFormContainer form input:nth-last-child(2) {
  margin-bottom: 14px;
}
.connexionFormContainer form * {
  margin: 0 40px;
}

input[type=submit] {
  background-color: #3897f0;
  color: white;
  border: unset;
  padding: 8px 0;
  cursor: pointer;
}

.connexionInput {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  padding: 13px 10px;
  background-color: #FAFAFA;
}

#redirectRegister a {
  color: #3897f0;
  text-decoration: unset;
  font-weight: bold;
}

.connectWithFacebook {
  display: flex;
  align-items: center;
  color: #385185;
  font-weight: bold;
  margin: 23px 0 20px 0;
}
.connectWithFacebook img {
  height: 16px;
}

#passwordForget {
  color: #385185;
}

.connexionSeparator {
  margin-top: 15px;
}
.connexionSeparator span {
  color: #999;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

#downloadApp, #connexionLogoLink {
  width: 100%;
}

#connexionLogoLink {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
#connexionLogoLink a:first-child {
  margin-right: 8px;
}

/* ------ home ----*/
header {
  border: 1px solid #dbdbdb;
  margin-bottom: 60px;
}

#instagramLinkHeader #headerLogoSeparator {
  width: 1px;
  background-color: #262626;
  margin: 0 16px;
  height: 28px;
}
#instagramLinkHeader span {
  font-family: "Shadows Into Light", cursive;
  font-size: 28px;
}

#headerContainer {
  width: 900px;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#headerContainer input {
  padding: 3px 10px 3px 26px;
}
#headerContainer nav :nth-last-child(2) {
  margin: 0 30px;
}

#headerContainer > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayProfil {
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  margin-bottom: 12px;
}
.displayProfil img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  margin-right: 14px;
}

.displayProfilEmail {
  font-size: 12px;
  line-height: 14px;
  color: #999;
}

.displayProfilPseudo {
  margin-bottom: 2px;
}

.displayProfilAssets {
  display: flex;
  flex-direction: column;
}

#containMainSection {
  max-width: 935px;
  display: flex;
  margin: 0 auto;
}

#actualityContainer {
  margin-right: 28px;
  max-width: 614px;
  width: 100%;
}

#allUserDisplay {
  margin-top: 4px;
  padding: 16px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fff;
}
#allUserDisplay h3 {
  color: #999;
  margin-block-start: unset;
}
#allUserDisplay .displayProfil img {
  object-fit: cover;
  height: 49px;
  width: 49px;
  border: 2px dimgrey solid;
}

.actualityHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding: 9px 16px;
}

.actualityProfilAsset {
  display: flex;
  align-items: center;
}
.actualityProfilAsset img {
  object-fit: cover;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 16px;
}
.actualityProfilAsset h3, .actualityProfilAsset h4 {
  font-weight: normal;
}

.actualityPicture {
  padding: 50px 25px;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.actualityPicture img {
  width: 100%;
}

.actuality {
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 3px;
}

.cursorPointer {
  cursor: pointer;
}

#footerAddActuality {
  padding: 0 20px 20px 20px;
}
#footerAddActuality #separator {
  margin: 7px 0 15px 5px;
  height: 3px;
  background-color: #999;
  width: 45px;
}
#footerAddActuality form {
  display: flex;
  flex-direction: column;
}
#footerAddActuality input[type=text] {
  width: -webkit-fill-available;
  width: -moz-fill-available;
}
#footerAddActuality input[type=submit] {
  margin-top: 15px;
  align-self: flex-end;
  padding: 13px 10px;
}

#pictureAddActuality {
  cursor: pointer;
  width: 50px;
}

.actuality footer {
  padding: 0 16px 8px;
}

.actualityAssetsLinks {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}
.actualityAssetsLinks img {
  margin-right: 15px;
  height: 24px;
}
.actualityAssetsLinks img:last-child {
  margin-right: unset;
}

.bold {
  font-weight: bold;
}

.likeByContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.likeByContainer img {
  height: 20px;
  width: 20px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}

.commentContainer p {
  line-height: 18px;
}

.displayAllComment {
  display: block;
  color: #999;
  font-weight: bold;
  margin-bottom: 10px;
}

.actualityPublishDate {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: #999;
}

.addComment {
  display: flex;
  border-top: 1px solid #dbdbdb;
  padding: 0 16px;
  justify-content: space-between;
}
.addComment .submitAddComment {
  background-color: unset;
  color: #3897f0;
}

.addCommentInput {
  border: unset;
  padding: 20px 0 20px;
}

@media all and (max-width: 1000px) {
  #headerContainer {
    width: unset;
    margin: unset;
  }

  #headerContainer header {
    width: 100vw;
  }

  #containMainSection {
    flex-direction: column-reverse;
    max-width: 600px;
  }

  #allUserDisplay > h3 {
    display: none;
  }

  header {
    margin-bottom: 10px;
  }

  .displayProfil {
    margin-right: 16px;
    margin-bottom: unset;
    flex-direction: column;
    align-items: center;
  }
  .displayProfil img {
    margin-right: unset;
  }

  .displayprofilEmail, displayProfilPseudo {
    display: none;
  }

  #allUserDisplay {
    display: flex;
    margin-bottom: 30px;
  }
}
@media all and (max-width: 650px) {
  .actualityPicture {
    padding: 50px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #containMainSection {
    width: 100vw;
  }

  #headerContainer .connexionInput {
    display: none;
  }

  #headerContainer nav:nth-last-child(2) {
    margin: 0 3vw;
  }
}
@media all and (max-width: 400px) {
  body {
    background-color: white;
  }

  .connexionFormContainer {
    width: 100vw;
  }

  .connexionFormContainer:not(#downloadApp) {
    border: unset;
  }
}

/*# sourceMappingURL=main.css.map */
